body {
    background-color: #ebebeb;
}

.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 41, 41);
    width: 500px;
    margin: 0 auto;
    border: solid black 1px;
    border-radius: 8px;
    padding: 20px;
}

.consulta {
    margin: 0 auto;
}

label.dados {
    display: inline-block;
    width: 40%;
}

.consulta p {
    text-align: left;
}

.consulta input {
    width: 50%;
}

#btn {
    margin-top: 20px;
}